# Popularity Based Recommender

### Popularity Based Recommendation System, are a type of collaborative filtering, where items are filtetered based on how popular they appear to be among all users

In [1]:
import numpy as np
import pandas as pd
import os
base_dir = "datasets\\RCdata"

In [5]:
frame = pd.read_csv(os.path.join(base_dir, "rating_final.csv"))
cuisine = pd.read_csv(os.path.join(base_dir, "chefmozcuisine.csv"))

In [9]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [10]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommendations Based on Counts

In [67]:
# Count the ratings for each place, and sort them by descending order
rating_count = pd.DataFrame(frame.groupby(
    'placeID')['rating'].count().reset_index())
top_5 = rating_count.sort_values('rating', ascending=False).head()
top_5 = top_5[['placeID']].values.squeeze()

[135085, 132825, 135032, 135052, 132834]

In [69]:
most_rated_places = pd.DataFrame(
    top_5.tolist(), index=np.arange(5), columns=['placeID'])
# Gets the cuisin types of the top 5 restaurants
summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [71]:
# performs some statistics on the dataframe
cuisine['Rcuisine'].describe()
# The results shows that mexican food is the most popular
# Comparing the the table above, 2 of the top places serve mexican food

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object